.ap-main{
    padding: 30px
}

.ap-table-main{
    width: 100%;
}

.ap-table-main, .ap-th, .ap-td{
    border-collapse: collapse;
    border: 1px solid #665e93;
    padding: 5px;
}


.ap-thead{
    color: #1883fd;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.ap-th{
    margin-right: 10px;
    margin-left: 10px;
}

.ap-td{
    color: #00da86;

}

.ap-header-row{
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.ap-header-cell{
    font-size: 16px;
    font-weight: bold;
}
.ap-row{
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.ap-font{
    color: #00da86;
}

.ap-row-cell{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    text-align: left;
    border: 1px solid #00da86;
    height: 100%
}

.ap-name{
    width: 200px;
}
