.db-main{
    position: absolute;
    top: 64px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    background-color:  #0d0a1c;
    z-index: -1;
    /* align-items: center; */
}

.db-font-title{
    color: #00da86;
}

.db-font{
    color: #00da86;
}

.db-main-rt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-left: 100px;
}

.db-main-img{
    height: 100%;
    width: 100%;
    object-fit: fill;

}

.db-main-rt-welc{
    display: flex;
    flex-direction: row;
    font-size: 22px;
}

.db-main-rt-img-block{
    height: 320px;
    width : 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #151129;
    border-radius: 4px;
    overflow: hidden;
}

.db-main-rt-info{
    height: 320px;
    width : 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #151129;
    border-radius: 4px;
}


.db-main-lf{
}
