.db-main{
    box-sizing: border-box;
    height: 1500px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    background-color: #151129;
    /* align-items: center; */
}

.db-font-title{
    color: #00da86;
}

.db-font{
    color: #00da86;
}

.db-main-rt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}

.db-main-rt-welc{
    display: flex;
    flex-direction: row;
    font-size: 22px;
}

.db-main-rt-img-block{
    height: 320px;
    width : 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2c235a;
    border-radius: 4px;
}

.db-main-rt-info{
    height: 320px;
    width : 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2c235a;
    border-radius: 4px;
}


.db-main-lf{
}
