.nav-main{
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #151129;
    height:64px;
    border-bottom: 2px solid #00da86

}
