.nav-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-search-pseudo-input {
    /* position: relative; */
    display: flex;
    justify-self: start;
    align-items: center;
    left: 180px;
    height: 30px;
    background-color: #0d0a1c;
    border-radius: 4px;
    width: 300px;
    transition-duration: .5s;
    border: 1px solid #958dc5
}

.nav-search-pseudo-input:focus-within {
    background-color: #0b2011;
    color: #00da86;
    font-weight: bold;
    transition-duration: .5s;
    border: 1px solid #00da86;
}

.nav-search-input:focus-within{
    color: #00da86;
}

.nav-search-input {
    /* position: absolute; */
    left: 45px;
    top: 1px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #00da86;
    /* opacity: 0.8; */
    font-size: 14px;
    padding-top: 2px;
    transition-duration: 0.5s;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

.nav-search-pseudo-input form {
    width: 100%;
    height: 100%;
}

.nav-search-pseudo-input:hover:not(:focus) {
    background-color: #0b2011;
    transition-duration: 0.5s;
}

.nav-search-icon{
    margin-left: 10px;
    color: #00da86;
}

.nav-search-results-menu-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
