.dd-main-div{
    position: relative;
}

.dd-menu-div{
    position: absolute;
    height: 200px;
    width: 100px;
    background-color: rgb(11, 32, 17, .9);
    border: 1px solid #00da86;
    z-index: 1;
}
