.ab-main{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
    width: 300px;
}

.ab-btn-text{
    font-size: 18px;
    font-weight: bold;
    color: #00da86;
}

.ab-btn-text:hover{
    cursor: pointer;
}

.ab-link-wrap{
    color: currentColor;
    text-decoration: none;
}

.ab-ab-menu{
    position: absolute;
    right: -10px;
    top: 41px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 0px;
    width: 0px;
    background-color: rgb(11, 32, 17, .9);
    color: #00da86;
    overflow: hidden;
    border-radius: 4px;
    transition-duration: .25s;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
}

.am-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.am-line-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.am-line-item-title{
    width: 120px;
}
.am-line-item-val{
   color: #18c8fd;
   /* max-width: 220px; */
   overflow: hidden;
}

.am-line-item-stat{
    color: green;
}
