.wl-main{
    box-sizing: border-box;
    width:100%;
    height: fit-content;
    border-bottom: 1px solid #00da86;
    /* background-color: #241f3d; */
}

.wl-name{
    color: #00da86;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.wl-stocks-div{
    display: flex;
    flex-direction: column;
}

.wlsi-qty{
    width: 50px;
    -moz-appearance: textfield;
}

.wlsi-qty::-webkit-outer-spin-button,
.wlsi-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
