.wlsi-tr-main{
    max-height: 25px;
    height:25px;
    min-height: 25px;
}

.wlsi-qty{
    width: 50px;
    -moz-appearance: textfield;
}


.wlsi-buy{
    background-color: #0b2011e6;
    border: 1px solid #00da86;

}

.wlsi-sell{
    background-color: darkred;
    border: 1px solid red;
}

.wlsi-ab{
    margin: 3px;
    font-size: 10px;
    height: 18px;
    width: 30px;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.wlsi-ab:disabled{
    border: 1px solid darkgray;
    color: darkgray;
    background-color: gray;
}

.wlsi-ab:active:enabled{
    transform: scale(.85);
}
.wlsi-qty::-webkit-outer-spin-button,
.wlsi-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wlsi-qty{
    border: 1px solid #00da86;
    background-color: #0b2011;
    vertical-align: middle;
    margin-right: 3px;
    width: 30px;
    color: #00da86;
    border-radius: 2px;
}

.wlsi-ip {
 text-align: center;
 width: 120px;
}

.wlsi-td-rem{
    color: #d154ff;
    cursor: pointer;
    text-align: center;
}

.wlsi-td-rem:hover{
    color: #1883fd;
}

.wlsi-td-rem:active{
    transform: scale(.85);
}

.wlsi-sym{
    color: #d154ff;
}

.wlsi-owned {
    color: #be9612
}

.wlsi-price{
    color: #00da86
}

.wlsi-sym-link{
    text-decoration: none;
    color: currentColor;
}

.wlsi-sym-link:hover{
    cursor: pointer;
}
